snippet \and "and" A
∧
endsnippet

snippet \or "and" A
∨
endsnippet

snippet \neg "not" A
¬
endsnippet

snippet \to "\to ->" A
→
endsnippet

snippet \iff "\iff <->" A
↔
endsnippet

snippet \forall "forrall" A
∀
endsnippet
