snippet fig "figure" 
\begin{figure}
	\centering
	\includegraphics[width=.8\textwidth]{$1}
	\caption{$3}
	\label{$2}
\end{figure}
endsnippet

snippet \beg "\begin{}...\end{}"
\begin{$1}
	$0
\end{$1}
endsnippet
